.public-header{  height: 110px;}
.public-header .header-logo{ float: left; height: 54px;  margin-top: 40px;}
.public-header .header-logo a{ width: 182px; height: 54px; background: url("../img/index-header-logo.png") no-repeat;}
.public-header .header-nav{ float: right;}
.public-header .header-nav .item{ float: left; padding-top: 44px; padding-left: 50px;}
.public-header .header-nav a{ color: #3b3b3b;}

.public-container{width: 1100px; position: relative; margin: 0 auto;}

.public-footer{ height: 218px; background: #3b3b3b; padding-top: 100px;}
.public-footer .footer-col{ width: 230px; float: left; padding-right: 60px; font-size: 16px; color: #fff; line-height: 1.8;}
.public-footer .footer-col-nor{ padding-right: 0;}
.public-footer .footer-logo{ width: 182px; height: 55px; background: url("../img/index-footer-logo.png"); margin-top: -30px; margin-bottom: 10px;}